{% extends 'base.html.twig' %}


{% block title %} Home {% endblock %}
{% block body %}
<main class="flex-column">

 <div class='mb-5'>
    <div class='d-flex justify-content-center'>
        <img src="{{ asset('img/LOGO.png')}}" alt="" style='height: 200px;'>
        </div>
    </div>
    
<div class='container'>
            <div class='mt-5'>
                <h2 style="background-color: #f8f9fa;">Interview</h2>
                    <div class='row'>
                        <div class='col-8 mt-4'>
                            <h4>Pete Rock</h4>
                            <p>Legendary producer talks about the creative process behind the classic track "they Reminisce Over You". Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio impedit quaerat eligendi et exercitationem quos, officia omnis architecto sit saepe possimus tempore nam voluptates necessitatibus nostrum dolorem velit repellendus rem?</p>
                        </div>
                        <div class='col-4 mt-4'>
                            <img src="{{ asset('img/pete_rock.png')}}" alt="" class="img-fluid" style="width: 200px; height: 200px;" >
                        </div>
                    </div>
            </div>
    




        <div class='mt-5'>
            <h2 style="background-color: #f8f9fa;">Weekly Top Sample</h2>
                <div class='row'>
                    {% for album in albums %}
                    <div class='col-6 mt-4'>
                        <article class='albums'>
                            <img src="/img/{{ album.imgcoverfile}}" alt=""  class="img-fluid" style="width: 200px; height: 200px;">
                            <h4>{{ album.albumname}}</h4>
                            <p>{{ album.producer}}</p>
                        </article>    
                    </div>
                    {% endfor %}
                </div>
        </div>

</div>
</main>
{% endblock %}

{% block javascripts %}
{% endblock %}
