{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <div class='d-flex justify-content-center'>
        <img src="{{ asset('img/LOGO.png')}}" alt="" style='height: 200px;'>
        </div>
    
<div class='container'>
                <div id='interview' >
                <h2>interview</h2>
                    <div class='row'>
                        <div class='col-4'>
                            <h3>Pete Rock</h3>
                            <p>Legendary producer talks about the creative process behind the classic track "they Reminisce Over You"</p>
                        </div>
                        <div class='col-8'>
                            <img src="{{ asset('img/pete_rock.png')}}" alt="">
                        </div>
                    </div>
                </div>
    
{# <------------- section Header ------------------> #}



        <div id='sample' >
            <h2>Weekly Top Sample</h2>

                <div class='row'>
                    {% for album in albums %}
                        
                    <div class='col-6'>
                        <article class='albums'>
                            <img src="/img/{{ album.imgcoverfile}}" alt="">
                            <h4>{{ album.albumname}}</h4>
                            <p>{{ album.producer}}</p>
                        </article>    
                    </div>
                    {% endfor %}
                </div>
        </div>

</div>
{% endblock %}
