{% extends 'base.html.twig' %}

{% block title %}Chanson
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-6">
			<p><img src="/img/{{sample.samplecoverfile}}" alt=""></p>
			<h5>{{ sample.samplesongorigin }}</h5>
			<p>{{ sample.sampleartistorigin }}</p>
			<figure>
				
				<audio controls src="/audio-whosampled/{{ sample.audiosamplefile }}"></audio>
			</figure>
		</div>

		<div class="col-6">
			{% for song in sample.songs %}
				{% for artist in song.artists %}
					<img src="/img/{{artist.getImgArtistFile()}}" alt="">
				{% endfor %}
			{% endfor %}
			<h5>{{sample.songs[0].songname}}</h5>
			{% for artist in sample.songs[0].artists %}
				<p>{{ artist.getArtistName() }}</p>
			{% endfor %}
			<figure>
				
				<audio controls src="/audio-whosampled/{{sample.songs[0].audiosongfile}}"></audio>
			</figure>
		</div>
</div>

{% endblock %}
