{% extends 'base.html.twig' %}

{% block title %}Chanson{% endblock %}

{% block body %}
    <h1>{{ song.songname }}</h1>

    {% for album in song.albums %}
        <img src="/img/{{ album.imgcoverfile }}" alt="Image de l'album">
    {% endfor %}  
     
   <figure>
        <figcaption>Listen to :</figcaption>
        <audio controls src="/audio-whosampled/{{song.audiosongfile}}"></audio>
    </figure>
    

    <h4>Sample use : </h4>
    {% for sample in song.samples %}
        <p><a href="{{ path('app_sample', {id: sample.id}) }}">{{ sample.samplesongorigin }}</a></p>
    {% endfor %}
{% endblock %}
