{% extends 'base.html.twig' %}

{% block title %}artist
{% endblock %}

{% block body %}
	<main class="flex-column">
		<h2 style="background-color: #f8f9fa;">Artiste</h2>
		<div class='mt-5 mb-5'>
			<section class="ficheartiste">
				<img src="/img/{{artists.imgArtistFile}}" alt="photogroupe">
				<div class="presentation">
					<h2>{{ artists.artistName }}</h2>
					<h3>Dernier morceau:</h3>
					<div class="latestrelease">
						<img src="/img/ram-10th-anniversary-edition.jpg" alt="randomaccess">
						<p>
							<a href="#">Prime (2012 Unfinished)</a>
							(2023)
							<br><a href="#">Random Access Memories (10th anniversary edition)</a>
						</p>
					</div>
				</div>
			</div>
		</section>

		<h2 style="background-color: #f8f9fa;">Morceaux </h2>
		<div class='mt-5'>
			<section class="tracklist">
				{% for song in songs %}
					<div class="harderbetter">
						<img src="/img/{{ song.albums[0].imgcoverfile}}" alt="harderbetter" class="img-fluid" style="width: 150px; height:150px">
						<div class="d-flex flex-column">
                            <h3>
                                <a href="/song/{{ song.id }}">{{ song.songname }}</a>
                            </h3>
                            <p>Année de sortie: {{ song.albums[0].releasedate|date('Y') }}</p>
                        </div>
					</div>
				{% endfor %}
			</section>
        </div>
		</main>


	{% endblock %}
