{% extends 'base.html.twig' %}

{% block title %}artist{% endblock %}

{% block body %}
    
    {{dump(artists)}}
    {{dump(albums)}}
    <div class='container'> 
    
        <section class="ficheartiste">
           
            <img src="/img/{{artists.imgArtistFile}}" alt="photogroupe">
            <div class="presentation">
                <h2>{{ artists.artistName }}</h2>
                <h3>Dernier morceau:</h3>
                <div class="latestrelease">
                    <img src="/img/ram-10th-anniversary-edition.jpg" alt="randomaccess">
                    <p><a href="#">Prime (2012 Unfinished)</a> (2023) <br><a href="#">Random Access Memories (10th anniversary edition)</a></p>
                </div>
            </div>
  
        </section>

        
        <section class="tracklist">
        {% for album in albums %}
            <div class="harderbetter">
                <img src="/img/{{ album.imgcoverfile}}" alt="harderbetter" class="img-fluid" style= "width: 100px; height:100px">
                <h3><a href="/album/{{ album.id }}">{{ album.albumname }}</a></h3>
                <p>Année de sortie: {{ album.releasedate|date('Y') }}</p>
            </div>
               
            
        {% endfor %}
        </section>
    </div>    

    



{% endblock %}