{% extends 'base.html.twig' %}

{% block title %}Resultats de la recherche{% endblock %}

{% block body %}
<main class="flex-column">
        {# <!-----champ de recherche-----> #}
            {{form(form)}}
        {# <!-----champ de recherche-----> #}

        <section class="">

            <h3><strong>ARTISTES</strong></h3>
            {% if artists|length > 0 %}
                <div class="artiste mb-5">
                    {% for artist in artists %}            
                        <a href="/artist/{{ artist.id }}" class="d-flex flex-column align-items-start text-decoration-none text-dark">
                            <img src="/img/{{ artist.imgArtistFile }}" alt="photoartiste" class="me-2">
                            <h4 class="text-center">{{ artist.artistName }}</h4>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p>Aucun artiste correspondant à la recherche</p>
            {% endif %}

            <h3><strong>CHANSONS</strong></h3>
            {% if songs|length > 0 %}
                {% for song in songs %}
                    <div class="morceaux mb-5 col-6">
                        <a href="/song/{{ song.id }}" class="d-flex flex-row mt-4 text-decoration-none text-dark">
                            <div>
                                {% if song.albums|length > 0 %} 
                                    <img src="/img/{{ song.albums[0].imgcoverfile }}" alt="pochette2" class="pochette me-1">
                                {% endif %}
                            </div>
                            <span class="flex-column">
                                <h5 class="mb-0">{{ song.songname }}</h5>
                                {% if song.artists|length > 0 %} 
                                    <p>{{ song.artists[0].artistname }}</p>
                                {% endif %}
                            </span>
                        </a>
                {% endfor %}          
            {% else %}
                <p>Aucune chanson correspondant à la recherche</p>
            {% endif %}

        </section>
{% endblock %}
