{% extends 'base.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
    {{ dump(artists) }}
    {{ dump(songs) }}

   {{ form(form) }}
    
    <h2>Artistes</h2>

    {# {% for artist in artists %}
        <div>
            {{artist.artistname}}
        </div>
    {% endfor %} #}

    <h2>Chansons</h2>

    {# {% for song in songs %}
        <div>
            {{song.songname}}
        </div>
    {% endfor %} #}

{% endblock %}
