{% extends 'base.html.twig' %}

{% block title %}Resultats de la recherche{% endblock %}

{% block body %}
<main class="flex-column">
        {# <!-----champ de recherche-----> #}
            {# {{form(form)}} #}
        {# <!-----champ de recherche-----> #}
         <h2 style="background-color: #f8f9fa;">Artiste</h2>
            <div class='mt-5 mb-5'>
            {% if artists|length > 0 %}
                <div class="artiste mb-5">
                    {% for artist in artists %}            
                        <a href="{{path('app_artist',{id: artist.id }) }}" class="d-flex flex-column align-items-start text-decoration-none text-dark">
                            <img src="/img/{{ artist.imgArtistFile }}" alt="photoartiste" class="img-fluid" style="width: 200px; height: 200px;">
                            <h3 class="text-center">{{ artist.artistName }}</h3>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p>Aucun artiste correspondant à la recherche</p>
            {% endif %}
            </div>
            
		<h2 style="background-color: #f8f9fa;">Morceaux </h2>
            {% if songs|length > 0 %}
                {% for song in songs %}
                   <div class="harderbetter"> 
                        <a href="/song/{{ song.id }}" class="d-flex flex-row mt-4 text-decoration-none text-dark">
                            <div>
                                {% if song.albums|length > 0 %} 
                                    <img src="/img/{{ song.albums[0].imgcoverfile }}" alt="pochette2" class="img-fluid" style="width: 150px; height: 150px;">
                                {% endif %}
                            </div>
                            <div class="d-flex flex-column">
                                <h3 class="mb-0">{{ song.songname }}</h3>
                                {% if song.artists|length > 0 %} 
                                    <p>{{ song.artists[0].artistname }}</p>
                                {% endif %}
                            </div>
                        </a>
                {% endfor %}          
            {% else %}
                <p>Aucune chanson correspondant à la recherche</p>
            {% endif %}

        
    </main>

{% endblock %}
